<header>
  <div class="container">
    <nav class="navbar">
      <div class="nav__title">
        <img class="nav__logo" src="../../../assets/images/planet.png" alt="Space Travelers Logo" />
        <h1>Space Travelers</h1>
      </div>
      <ul class="nav__items">
        <li><a routerLink="/rockets" routerLinkActive="active" >Rockets</a></li>
        <li><a routerLink="/missions" routerLinkActive="active">Missions</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      </ul>
    </nav>
  </div>
</header>
