<table>
  <thead>
    <tr>
      <td>Missions</td>
      <td>Description</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of missions">
      <td class="mission__title">{{mission['mission_name']}}</td>
      <td>
       {{mission.description}}
      </td>
      <td class="mission__member"><span [ngClass]="{'not__member' : (!mission.member),'active__member':(mission.member)}">{{mission.member ? 'Active Member' : 'Not A member'}}</span></td>
      <td><app-join-mission-btn [member]="mission.member" [id]="mission['mission_id']" (joinEmit)="toggleMember($event)"></app-join-mission-btn></td>
    </tr>
  </tbody>
</table>