table, tr, td {
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  padding: 10px;
}

thead, .mission__title {
  font-weight: bold;
}

tbody tr:nth-child(odd){
  background-color: #f6f6f6;
}

.not__member {
  background-color: #6d757d;
  color: #fff;
  white-space: nowrap;
  padding: 10px;
  border-radius: 5px;
}

.not__member:hover {
  background-color: #a5b2be;
}

.active__member {
  background-color: #18a2b8;
  color: #fff;
  white-space: nowrap;
  padding: 10px;
  border-radius: 5px;
}

.active__member:hover {
  background-color: #0c616e;
}